body{
    background-image: url(./png-transparent-internet-troll-internet-meme-trollface-laughing-face-meme-sticker-miscellaneous-face-food-thumbnail.png);
}
.main{
    margin-top: 200px;
    margin-bottom: 300px;
    margin-left: 400px;
    margin-right: 300px;
    background-color: url(./png-transparent-internet-troll-internet-meme-trollface-laughing-face-meme-sticker-miscellaneous-face-food-thumbnail.png);
    text-align: center;
    opacity: 50;
}
button{
    
       color:white ;
       background-color: black;
       border-radius: 5px;
       border: none;
}
